<main>
  <div class="m-10 relative ">
    <h3 class="my-5 text-2xl font-bold basis-1/6">Supa Chat<button (click)="signOut()"
        class="text-sm border-2 border-black rounded-lg bg-red-500 text-white p-1 font-semibold"
        style="float: right;">Log
        out</button>
    </h3>
    <div
      class="bg-yellow-0 bg-yellow-300 bg-yellow-400 bg-yellow-500 bg-yellow-600 bg-yellow-700 bg-yellow-800 bg-yellow-900      hidden">
    </div>


    <div class="absolute  z-10 translate-x-[900px] h-32 w-32 text-xs">
      @for (item of joined().split(','); track $index) {
      @if($index>0){
      <span class="text-white text-[10px] flex flex-row justify-center items-center ">
        <div class="w-2 h-2 rounded-full mr-1 " [ngClass]="getColor($index)"></div>{{item}}
      </span>
      }
      }
    </div>

    <div class="card flex flex-col   ">
      <div class="col-12 col-lg-12 col-xl-12 basis-96 overflow-y-scroll ">
        @for (item of this.messages(); track $index) {
        <div  [ngClass]="item.userId===authSerivece.user?.id?'bg-yellow-600':'bg-yellow-700'" class="  text-white p-3 font-semibold m-2 rounded-lg w-1/2">
          <div>
            {{item.message}}
            <div  class="text-sm text-gray-400 flex flex-row ">
              <div class="flex-1">{{item.userId}}</div>
              <div class="flex-1">{{item.createdAt}}</div>
            </div>
          </div>
        </div>
        }@empty {
        <div class="text-center">No messages yet</div>
        }

      </div>
      <div class="border-t-2 border-gray-400  basis-28">
        <button class=" p-1 rounded-lg" (click)="enableAI()" [ngClass]="isAiEnabled?'bg-green-500':'bg-blue-500'" >{{isAiEnabled?'Listening':'Ask AI'}}</button>
        <form class="flex flex-row border border-gray-400  p-1 rounded-lg " [formGroup]="chatForm"
          (ngSubmit)="sendMessage()">
          <input formControlName="text" type="text" class="basis-[90%] outline-none" placeholder="Type your message">
          <button
            class="basis-[10%] text-sm border-2 border-black rounded-lg bg-yellow-500 text-white p-1 font-semibold">Send</button>
        </form>
      </div>
    </div>


  </div>
</main>